body{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    background-color: black;
}

.imageContainer{
    margin: 50px;
    border: 2px solid gray;
    padding: 10px;
    max-width: 1000px;
    border-radius: 10px;
}